body {
    /* padding-left: 1%;
    padding-right: 1%; */
    font-size: small;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner {
    margin-bottom: 5px;

}

.navTop {

}

.navBottom {
    
}

.cnt-board {
    display: flex;
    height: auto;
    margin-bottom: 10px;
    justify-content: space-between;
}


.cnt-text {
    padding-left: 1%;
    padding-right: 1%;
    height: auto;
    width: 50%;
    background-color: rgb(120, 200, 247);
    /* font-family: initial; */
}

.cta {
    display: flexbox;
    flex-direction: column-reverse;
    justify-content: space-around;
    height: auto;
}

.discordBoard {

}

.cta-discord {
    width: 20%;
    height: auto;
}


/* Mobile view adjustments */
@media screen and (max-width: 768px) {
    .cta-discord {
        width: 40%; /* Increase the width to make it larger on mobile */
    }
    .cnt-board {
        align-items: stretch;
    }
    /* .cnt-text {
        width: 100%;
    } 
    .discordBoard {
        width: 200%;
    } 
    .banner {
        width: 102%;
    } 
    body {
        display: ;
        font-size: medium;
        padding-right: 10px;
    }  */
}